@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700;900&display=swap');

:root {
    --base: #561E01;
    --base-light: #D48E6B;
    --azul: #2B4B6F;
    --verde: #549432;
}


* {
    font-family: Barlow, sans-serif;
}
#hover{
  color: white;
  text-decoration: none;
}

#hover:hover{
  color: var(--base-light);
  text-decoration: underline;
}

.bg-base{
    background-color: var(--base);
}

.bg-base-light{
    background-color: var(--base-light);
}

.bg-azul{
    background-color: var(--azul);
}

.bg-verde{
    background-color: var(--verde);
}

.text-base{
    color: var(--base);
}

.text-base-light{
    color: var(--base-light);
}

.text-azul{
    color: var(--azul);
}

.text-verde{
    color: var(--verde);
}


main{
    margin-top: 72px;
}

  /* Carousel */
  
  .carousel-item > img {
    min-width: 100%;
    height: 100%;
  }
  
  
  .card-img-top {
    height: 200px; 
    object-fit: scale-down;
    object-position: center;
  }

  .divisor{
    border: 2px solid var(--azul);
    background-color: var(--base-light);
    width: 80%;
    height: 1px;
    border-radius: 2rem;
    display: block
  }

  .form-control::placeholder{
    color: white;
  }

  #time .col-md-12{
    display: flex;
    justify-content: center;
  }

  /* RESPONSIVE CSS */
  
  @media (max-width: 576px) {

    .img-center {
      display: flex;
      justify-content: center;
    }

    #quemsomos img {
      width: 100px;
      margin-bottom: 25px;
    }

    .card-img-top {
      height: 150px; 
      object-fit: cover;
      object-position: center;
    }

    body {
      font-size: .8rem;
    }

    h5 {
      font-size: .9rem;
    }

    #time{
      width: 100%;
    }

  }

  @media (max-width: 768px) {

    body {
      font-size: .8rem;
    }

    #time{
      width: 100%;
    }
  }

  @media (min-width: 992px) {
    #time{
      width: 50%;
    }
  }